<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Newerp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FC52C2983776F704D3EC7A20F5F13028CB05507F</string>
				<key>dateExpires</key>
				<string>2021/10/29</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>48N6Z588CC.com.canway.erpEnterprise</string>
				<key>com.apple.developer.team-identifier</key>
				<string>48N6Z588CC</string>
			</dict>
			<key>name</key>
			<string>Newerp.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>48N6Z588CC</string>
				<key>name</key>
				<string>Guangzhou Jiawei Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
